@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;
    --card: 217 33% 17%;
    --card-foreground: 0 0% 100%;
    --popover: 217 33% 17%;
    --popover-foreground: 0 0% 100%;
    --primary: 292 84% 61%;
    --primary-foreground: 0 0% 0%;
    --secondary: 48 96% 53%;
    --secondary-foreground: 0 0% 0%;
    --muted: 217 33% 17%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 48 96% 53%;
    --accent-foreground: 0 0% 0%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;
    --border: 217 33% 17%;
    --input: 217 33% 17%;
    --ring: 292 84% 61%;
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
